<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/about.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
        <title>About Us</title>
        <style>
            /* CSS for the logo */
            .logo {
                width: 50px;
                height: auto;
                margin-right: 10px;
                vertical-align: left;
                border-radius: 50%;
            }
        </style>
    </head>
    <body>
        <a href="/"><img src="../static/images/BF-Hydlogo.jpg" alt="logo" class="logo"></a>
        <div class="profile">
            <header class="profile__header">
                <div class="profile__highlight__wrapper">
                    <div class="profile__highlight">2000</div>Visitors
                </div>
                <div class="profile__avatar">
                    <img src="static/images/BF-Hydlogo.jpg" loading="lazy" alt="Mentor Profile">
                </div>
            </header>
            <div class="Profile__name">
                <h2>Soukaina Lachheb</h2>
                <p>Backend/Fullstack Developer</p>
            </div>
            <ul class="social-links">
                <li><a href="https://github.com/soukiitos/BenFa_PortFolio" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
                </a></li>
                <li><a href="https://x.com/SoukainaLa08?t=KnZcFbHVTKwVJJa4y2KHSQ&s=09" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                    </svg>
                </a></li>
                <li><a href="https://www.linkedin.com/in/soukaina-lachheb-6a1a1a239" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 11l0 5" />
                        <path d="M8 8l0 .01" />
                        <path d="M12 16l0 -5" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                </a></li>
                <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                    </svg>
                </a></li>
                <li><a href="https://t.me/Soukiitos" target="_blank" rel="noopener noreferrer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 15l6 -6" />
                        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                    </svg>
                </a></li>
            </ul>
            <main>
                <div class="tabs-wrapper">
                    <ul class="tabs">
                        <li class="active">
                            <a id="tab1" href="#about">About Us</a>
                        </li>
                        <li>
                            <a id="tab2" href="#skills">Skills</a>
                        </li>
                        <li>
                            <a id="tab3" href="#More">More</a>
                        </li>
                        <li id="active-bg"></li>
                    </ul>
                </div>
                <div id="tab1-content" class="tab-content tab-content--active">
                    <p>
                        Hello!! I am Soukaina Lachheb a Backend Software Engineer and a fullstack developper with 3 years of experience,
                        i have been creating some projects on my github, and posting some educational content on my blog. i have the passion for modern technologies
                        and healthy staff and i love to share my knowledge with other People.

                    </p>
                    <h4>I can help With &#128588</h4>
                    <ul class="content-links">
                        <li>
                            <a href="https://www.linkedin.com/in/soukaina-lachheb-6a1a1a239" target="_blank" rel="noopener noreferrer"> My Career</a>
                        </li>
                        <li><a href="https://github.com/soukiitos" target="_blank" rel="noopener noreferrer">Project Description</a></li>
                        <li><a href="https://t.me/Soukiitos" target="_blank" rel="noopener noreferrer">Web Developement Questions</a></li>
                    </ul>
                </div>
                <div id="tab2-content" class="tab-content">
                    <p>
                        In this website my content is focused on the users health, as the name FHyd means Be Forever Hydrated, 
                        so i used some web developement technologies and tools you'll find them in my github profile, and here is the languages i used in created it 
                    </p>
                    <ul class="content-links">
                        <li>
                            <a href="#html-css">
                                HTML, CSS
                            </a>
                        </li>
                        <li>
                            <a href="#javascript">
                                JavaScript
                            </a>
                        </li>
                        <li>
                            <a href="#python">
                                Python
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="tab3-content" class="tab-content">
                    <p>Some of Reviews from alternative people</p>
                    <ul class="reviews">
                        <li>
                            <article class="review">
                                <div class="review__avatar">
                                    <img src="../static/images/avatar1.jpg" alt="Avatar">
                                </div>
                                <div class="review__content">
                                    <h4>Fati</h4>
                                    <p>
                                        i love this website, it makes me notify everyday it helps me to get my water at time,
                                        and i wanna thank who did this work, this website is great!!!! 
                                    </p>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="review">
                                <div class="review__avatar">
                                    <img src="../static/images/avatar2.jpg" alt="Avatar">
                                </div>
                                <div class="review__content">
                                    <h4>Kai</h4>
                                    <p>
                                        Soukaina Lachheb is a great developer, i like the work she did in this website there are a lot of things to discover here,
                                        and at BenFa PortFolio as well, Good Work!!
                                    </p>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </main>
            <button class="btn btn--primary">
                <a href="/">Back to the Main Page</a>
            </button>
        </div>
        <script src="../static/script/about.js"></script>
    </body>
</html>