<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BFHyd - Age Calculator</title>
  <link rel='stylesheet' href="../static/css/style_Age.css">

</head>
<body>

<div class="container">
  <div class="input-wrapper">
    <input type="date" id="date-input" />
    <button id="calc-age-btn">Click here to Calculate</button>
  </div>
  <div class="output-wrapper">
    <div>
      <span id="years">-</span>
      <p>Years</p>
    </div>
    <div>
      <span id="months">-</span>
      <p>Months</p>
    </div>
    <div>
      <span id="days">-</span>
      <p>Days</p>
    </div>
  </div>
</div>
<!-- The script -->
  <script src="../static/script/script1.js"></script>

</body>
</html>