<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script src="../static/script/main.js" defer></script>
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <title>Home Page</title>
</head>
<body>

    <nav>
        <div class="container nav_container">
            <a href="#"><h4>BF-Hyd</h4></a>
            <ul class="nav_menu">
                <li><a href="/">Home</a></li>
                    <li><a href="/about" target="_blank" rel="noopener noreferrer">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/water_intake_page">Water Intake</a></li>
                    <li><a href="/notification">Notify Me</a></li>
                    <li id="more">
                        <a href="#">More</a>
                        <ul id="more-dropdown">
                            <li><a href="/age_calculate">Age Calculator</a></li>
                            <li><a href="/X-ray">X-ray</a></li>
                            <li><a href="/heartLoader">Heart Loading</a></li>
                            <li><a href="/mass_calculator">Body Mass Calculator</a></li>
                            <li><a href="/Weather" target="_blank" rel="noopener noreferrer">Weather</a></li>
                        </ul>
                    </li>
                    <script>
                        // JavaScript to handle hover effect
                        var more = document.getElementById('more');
                        var dropdown = document.getElementById('more-dropdown');
                    
                        more.addEventListener('mouseover', function() {
                            dropdown.style.display = 'block';
                        });
                    
                        more.addEventListener('mouseout', function() {
                            dropdown.style.display = 'none';
                        });
                    </script>
                    <style>
                        /* CSS for dropdown */
                        #more-dropdown {
                            display: none;
                            position: absolute;
                            background-color: transparent;
                            min-width: 160px;
                            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                            z-index: 1;
                        }
                    
                        #more-dropdown li {
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            color: black;
                        }
                    
                        #more-dropdown li:hover {
                            background-color: transparent;
                        }
                    </style>
                    <li><a href="/contact" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
            </ul>
            <button id="open-menu-btn"><i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </nav>
     
     <header>
        <div class="container header_container">
            <div class="header_left">
                <h1>BF-Hyd</h1>
                <p>Hello BF-Hyd People! That sounds like a fantastic initiative. We'd like to share with you this beautifull application, As a breif this is An application that help the users to track their daily water and reminds them to stay hydrated through the day. If you have any question don't hesitate and Contact Us</p>
                <a href="/contact" class="btn btn-primary">Send Your Message</a>
            </div>


            <div class="header_right">
                <div class="header_right-img">
                    <img src="../static/images/BF-Hydlogo.jpg" alt="">
                </div>
            </div>
        </div>
     </header>



     <!--CATEGORIES-->

     <section class="categories">
        <div class="container categories_container">
            <div class="categories_left">
                <h1>Categories</h1>
                <p>This is awesome, We're glad that you are here with us and want to stay healty. This topics belows explains everything, contains some of our related topics, we advice you to take a look!!</p>
                <a href="#" class="btn">Learn More</a>
            </div>

            <div class="categories_right">
                
                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>The Importance of Water</h5>
                    <p>water water water water </p>
                </article>

                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>How Mush Should I Drink??</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, libero!</p>
                </article>

                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>JavaScript</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, libero!</p>
                </article>

                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>React</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, libero!</p>
                </article>

                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>Node js</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, libero!</p>
                </article>

                <article class="category">
                    <span class="category_icon"><i class="fa-brands fa-bitcoin"></i></span>
                    <h5>Next Js</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, libero!</p>
                </article>

            </div>
        </div>
     </section>

     <!-- Examples -->

     <section class="courses">
        <h2>Our Popular Projects</h2>

        <div class="container courses__container">
            <article class="course">
                <div class="course__image">
                    <img src="static/images/logo.png" alt="">
                </div>
                <div class="course__info">
                    <h4>BenFa</h4>
                    <p>BenFa an ecommerce project that helps the users to buy and sell their products as they want.</p>
                    <a href="http://www.benfa.tech/" class="btn btn-primary">Learn More</a> 
                </div>
            </article>
            
            <article class="course">
                <div class="course__image">
                    <img src="static/images/logoSouEl.png" alt="">
                </div>
                <div class="course__info">
                    <h4>SouEL</h4>
                    <p>SouEl an E-Learning Project that help the users to learn their favourites subjects, using Php and Html, CSS and JavaScript.</p>
                    <a href="" class="btn btn-primary">Learn More</a> 
                </div>
            </article>
            
            <article class="course">
                <div class="course__image">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.library.yorku.ca%2Fds%2Fhome%2Fmedia-creation-lab%2Fdigital-portfolios%2F&psig=AOvVaw0QhmETlK1DIjigZ0w2aSjO&ust=1710989027428000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOi3kvvogYUDFQAAAAAdAAAAABAE" alt="">
                </div>
                <div class="course__info">
                    <h4>PortFolio Project</h4>
                    <p>A PortFolio Project that simplfy the simple carier.</p>
                    <a href="" class="btn btn-primary">Learn More</a> 
                </div>
            </article>
            
        </div>

     </section>

     <!-- Faqs -->

     <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, vitae, provident explicabo voluptates voluptas assumenda maxime ipsa, animi nulla exercitationem praesentium perspiciatis mollitia. Mollitia modi adipisci, itaque dicta numquam eaque.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>The Importance Of Water?</h4>
                    <p>Water is vital to our health. It plays a key role in many of our body's functions, including bringing nutrients to cells, getting rid of wastes, protecting joints and organs, and maintaining body temperature.
                        Water should almost always be your go-to beverage. Choose it over sugary drinks like soda or juice, which can be high in simple sugars and calories.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>How much water should I drink?</h4>
                    <p>The amount of water you should drink varies depending on your activity level, health conditions, height and weight, gender, and other factors. Here are some general guidelines, according to the Institute of Medicine: <br>
                    <ul>
                        <ol>It's recommended that men drink 13 cups (about 3 liters) of water each day.</ol>
                        <ol>Women are recommended to drink 9 cups (just over 2 liters) of water each day. Pregnant women should drink 10 cups of water daily, and breastfeeding women should drink 12 cups.</ol>
                        <ol>Kids and teens should drink 6 to 8 cups of water a day. Again, this all depends on activity level, age, weight, etc.</ol>
                    </ul> </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Are sports drinks good for me when I'm exercising?</h4>
                    <p>Sports drinks are advertised to increase endurance and replace nutrients lost during intense exercise. But are they necessary?

                        These drinks contain electrolytes like sodium, potassium, and calcium, as well as simple sugars (some may be sugar-free). However, these nutrients are generally only lost in large amounts during high-intensity exercise for one hour or more. Sports drinks may be useful for people doing intense exercise for a long time, especially if they’re sweating a lot. But for non-athletes, sports drinks are simply another sugary beverage.
                        
                        Most people should drink water, not sports drinks, during their workouts.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Do caffeine drinks provide hydration?</h4>
                    <p>Caffeine is found in drinks like coffee, some teas, energy drinks, and sodas. While you may urinate more after drinking a caffeinated drink, drinking these beverages does not cause you to lose more fluid than you consumed. However, caffeine can lead to headaches and trouble sleeping in some people.

                        Overall, water is your best bet to stay hydrated. It’s caffeine-free, calorie-free, and readily available for most people.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Is it possible to drink too much water and overhydrate?</h4>
                    <p>Most people are familiar with what dehydration is and how it happens. But is overhydration possible? Overhydrating happens when someone drinks large amounts of water, which can alter the levels of electrolytes in the body like chloride, sodium, and potassium. Not drinking enough fluid (dehydration) can lead to symptoms like thirst, flushing, fatigue, and fast breathing. In contrast, drinking too much fluid (overhydration) can cause nausea, headaches, cramps, weakness, and confusion.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Water is your best choice for health?</h4>
                    <p>You have many drink choices out there. At the end of the day, water is the first-choice beverage for best hydration. Drinking the right amount of water for your personal health and activity level is important. Try healthy add-ins like fresh mint, sliced cucumber, or lemon wedges to add flavor and variety to your water.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Is it ok to keep water in the car?</h4>
                    <p>Keep bottled water at the same temperature as other groceries. Avoid leaving plastic bottles in a hot car during summer heat. Instead, put a water bottle in your bag or by the door, so you can remember to grab it on your way out.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>Benefit of drinking water?</h4>
                    <p>Drinking water has numerous benefits. Water is crucial for many bodily functions, such as lubricating the joints, delivering oxygen throughout the body, preventing kidney damage, and more.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="question__answer">
                    <h4>How to stay Hydrated?</h4>
                    <p>Drink a glass of water first thing in the morning. This gets your metabolism running and gives you an energy boost. Avoid drinking water right before bed if you struggle with nocturnal urination or heartburn. Use alarms or notifications to your advantage. Set alarms or notifications on your smart devices as reminders throughout the day. For a mental boost, set your Alexa or Google device to remind you along with verbal, or the best of the best choose our service BFHyd Notification, positive encouragements.</p>
                </div>
            </article>

        </div>
     </section>

     <!-- Testmonials -->

     <section class="container testimonials__container mySwiper">
        <h2>Participants testonials</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fm.gettywallpapers.com%2Fwp-content%2Fuploads%2F2023%2F06%2FBeautiful-Anime-Girl-Profile-Picture-For-Pinterest.jpg&tbnid=jtuuKAIgJnsFqM&vet=10CLkBEDMooAJqFwoTCNDf2_zjgYUDFQAAAAAdAAAAABAE..i&imgrefurl=http%3A%2F%2Fm.gettywallpapers.com%2Fbeautiful-anime-girl-profile-pictures%2F&docid=u4rKReVZS3He5M&w=800&h=800&q=anime%20%20profiles%20pictures&hl=fr&ved=0CLkBEDMooAJqFwoTCNDf2_zjgYUDFQAAAAAdAAAAABAE" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>BenFa</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>Such an amazing website, it helps me to drink my water, because i'm a lazy person</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Fpremium-photo%2Fminimal-japanese-kawaii-gamer-girl-chibi-anime-vector-art-sticker-with-clean-bold-line-cute-simple_655090-9168.jpg&tbnid=wx42m3VcXTHc6M&vet=10CEYQMyjuAWoXChMI0N_b_OOBhQMVAAAAAB0AAAAAEAQ..i&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Fpremium-ai-image%2Fminimal-japanese-kawaii-gamer-girl-chibi-anime-vector-art-sticker-with-clean-bold-line-cute-simple_59400870.htm&docid=4qdIWeu7eJo43M&w=626&h=626&q=anime%20%20profiles%20pictures&hl=fr&ved=0CEYQMyjuAWoXChMI0N_b_OOBhQMVAAAAAB0AAAAAEAQ" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Nara</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>This makes me so happy, thanks to BF-Hyd i always remember my water, and kept me hydrated, seriously i recomande this website to everyone specially for the people who forgot their water.</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Fbig.php%3Fi%3D339753&psig=AOvVaw3L6rnPkn0KCSv6_9PrLmBF&ust=1710987316374000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNj5q8vigYUDFQAAAAAdAAAAABAL" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Byakuya</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>Great, i am drinking my water , i feel so healthy thanks to BF-Hyd i feel so fresh and always hydrated.</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwallpapers-clan.com%2Fwp-content%2Fuploads%2F2023%2F07%2Fdemon-slayer-rengoku-2-pfp-33.jpg&tbnid=d8tPaZHWfxbXYM&vet=10CCwQMyjiAWoXChMI6ICU0OGBhQMVAAAAAB0AAAAAEAQ..i&imgrefurl=https%3A%2F%2Fwallpapers-clan.com%2Ffr%2Fpfp%2Fdemon-slayer-rengoku-2%2F&docid=07eT3ubp0NV3VM&w=468&h=468&q=anime%20demon%20slayer%20profiles%20pictures&hl=fr&ved=0CCwQMyjiAWoXChMI6ICU0OGBhQMVAAAAAB0AAAAAEAQ" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Rengoku</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>Hello BF-Hyd People, my life change to the best, healthy, hydrated, even my face change to good</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ftiermaker.com%2Fimages%2Fchart%2Fchart%2Fjsmp--as-demon-slayer-people-995293%2Fnezukoanimedesignpng.png&tbnid=OtuX8aai2m_Q5M&vet=10CAUQMyjSAWoXChMI6ICU0OGBhQMVAAAAAB0AAAAAEAQ..i&imgrefurl=https%3A%2F%2Ftiermaker.com%2Fcreate%2Fjsmp--as-demon-slayer-people-995293&docid=6DHNQ3wPvdrlpM&w=250&h=250&q=anime%20demon%20slayer%20profiles%20pictures&hl=fr&ved=0CAUQMyjSAWoXChMI6ICU0OGBhQMVAAAAAB0AAAAAEAQ" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Bella</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>Thank you BF-Hyd, Such an amazing Website i am gettig notifications at times, recomnded to all people, Be Forever Hydrated.</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.instagram.com%2Fseo%2Fgoogle_widget%2Fcrawler%2F%3Fmedia_id%3D3142540588138287836&tbnid=6XIoggPSy58IvM&vet=12ahUKEwiK_NiN4IGFAxUNUaQEHcuzDtYQMygHegQIARBa..i&imgrefurl=https%3A%2F%2Fwww.instagram.com%2Fanime%2F&docid=asmEfOWZX1VVeM&w=1440&h=1800&q=anime%20profiles%20pictures&hl=fr&ved=2ahUKEwiK_NiN4IGFAxUNUaQEHcuzDtYQMygHegQIARBa" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Kai</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>Be Forever Hydrated! yes Yeeees!! Amazing i am now feeling sooooooooooooooo Healthy, because of BF-Hyd i am drinking my water at time, and doing more sports.</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.tycoonstory.com%2Fwp-content%2Fuploads%2F2022%2F07%2FAnime-Profile-Pictures-Tycoonstory.jpg&tbnid=cd3bTuYCMXR85M&vet=12ahUKEwjDmP-K34GFAxVokycCHQYxArUQMyhRegUIARCFAg..i&imgrefurl=https%3A%2F%2Fwww.tycoonstory.com%2Fanime-profile-pictures%2F&docid=sN1Rd8cVD3UoyM&w=500&h=286&q=anime%20profiles%20pictures&hl=fr&ved=2ahUKEwjDmP-K34GFAxVokycCHQYxArUQMyhRegUIARCFAg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Fati</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>I like, I hope if there a like button to press in it 1000000000 times, to tell the truth Because of BF-Hyd am feeling good and more healthy, thank you so much to BF-Hyd staff.</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D282999074486553&tbnid=CxWnYApQ3uR5wM&vet=12ahUKEwjDmP-K34GFAxVokycCHQYxArUQMygIegQIARBc..i&imgrefurl=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D282999074486553%26id%3D100083293886930%26set%3Da.125315896921539&docid=AuB-q6D0sxZuqM&w=719&h=721&q=anime%20profiles%20pictures&hl=fr&ved=2ahUKEwjDmP-K34GFAxVokycCHQYxArUQMygIegQIARBc" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Tika</h5>
                    <small>The user</small>
                </div>
                <div class="testimonial__body">
                    <p>i won't talk to much, i'll just say, Wow!!!!!!, A Life Changer reallly, A big heart from me to BF-Hyd.</p>
                </div>
            </article>
        </div>
        <div class="swiper-pagination"></div>
     </section>

     <!-- The Footer Start --> 


     <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="index.html" class="footer__logo">
                    <h4></h4>
                </a>
                <p>
                    <b><i>BF-Hyd</i></b> <i>Be Forever Hydrated</i>
                </p>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalink">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/water_intake_page">Water Intake</a></li>
                    <li><a href="/notification">Notify Me</a></li>
                    <li id="more">
                        <a href="#">More</a>
                        <ul id="more-dropdown">
                            <li><a href="/age_calculate">Age Calculator</a></li>
                            <li><a href="/X-ray">X-ray</a></li>
                            <li><a href="/heartLoader">Heart Loading</a></li>
                            <li><a href="/mass_calculator">Body Mass Calculator</a></li>
                            <li><a href="/Weather">Weather</a></li>
                        </ul>
                    </li>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact us</h4>
                <div>
                    <p>+212 653 17 53 52</p>
                    <p>bfhyd24@gmail.com</p>
                    <p>Click here and Send a Message <a href="/contact"></a></p>
                </div>

                <ul class="footer__socials">
                    <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/soukaina-lachheb-6a1a1a239" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://x.com/SoukainaLa08?t=KnZcFbHVTKwVJJa4y2KHSQ&s=09" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; BF-Hyd 2024</small>
        </div>
     </footer>

     <!-- The Footer --> 
     
     <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

     <script>
        var swiper = new Swiper(".mySwiper",{
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                600: {
                    slidesPerView: 2,
                }
            }
        });
     </script>
</body>
</html>