<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href="../static/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
        /* CSS for the logo */
        .logo {
            width: 80px;
            height: auto;
            margin-right: 10px;
            vertical-align: left;
            border-radius: 50%;
        }
    </style>
  <title>Sign in/up</title>
</head>
<body>
	<a href="/"><img src="../static/images/BF-Hydlogo.jpg" alt="logo" class="logo"></a>
<div class="container" id="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="form-container sign-up-container">
		<form action="{{ url_for('signup') }}" method="POST">
			{{ signup_form.csrf_token }}
			<h1>Sign Up (Create your Account here Mate)</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>use your email for registration</span>
			<input type="text" placeholder="Username" name="username" value="{{ signup_form.username.data }}" />
			<input type="email" placeholder="Email" name="email" value="{{ signup_form.email.data }}" />
			<input type="password" placeholder="Password" name="password">
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form>
			
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" />
			<input type="password" placeholder="Password" name="password" />
			<a href="#">OOPS!! You Forgot your password?</a>
			<button type="submit"><a href="/" style="color: white;">Sign In</a></button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hello! Hello! Welcome Back Mate!</h1>
				<p>To keep connected with us Please Login Here</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, My Friend! How Are You Doing?</h1>
				<p>Create Your Account with us for a better life and been forever hydrated and Discover new things</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
  <script  src="../static/script/login.js"></script>

</body>
</html>
