<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Intake Tracker</title>
    <link rel="stylesheet" href="../static/css/water_intake.css">
    <style>
        /* CSS for the logo */
        .logo {
            width: 80px;
            height: auto;
            margin-right: 10px;
            vertical-align: left;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <a href="/">
        <img src="../static/images/BF-Hydlogo.jpg" alt="logo" class="logo">
    </a>
    <h1><b>W</b>elcome to the <b>W</b>ater <b>I</b>ntake <b>T</b>racker</h1>
    <form id="water-intake-form">
        <label for="user-id"><b>User ID:</b></label>
        <input type="text" id="user-id" name="user-id" placeholder="Username" required>
        <label for="amount"><b>Amount:</b></label>
        <input type="text" id="amount" name="amount" placeholder="water amount" required>
        <label for="date"><b>Date:</b></label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Add Water Intake</button>
    </form>

    <div id="water-intake-list">
        <!-- Water intake entries will be displayed here -->
    </div>

    <script src="../static/script/water_intake.js"></script>
</body>
</html>